.logo_footer {
  width: 110px;
  height: 110px;
  filter: contrast(185%);
  -webkit-filter: contrast(185%);
  -moz-filter: contrast(185%);
  display: block;
  margin: auto;
  border-radius: 100%;
}

body {
  padding-top: 3rem;
  color: black;
  margin: 0px;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background-color: lightgray;
}

footer {
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
}

nav ul li a {
  padding: 5px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  margin: auto 10px;
}

li a.active,
li a:hover {
  background: #1630BE;
  transition: 0.5s;
}

#last.active,
#last:hover {
  background: none;
}

#btn.active,
#btn:hover {
  background: none;
}

#btnLeft:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  outline-color: #a02d76;
}

#twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

#linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

#github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

.footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 3px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Times New Roman', Times, serif;
}


#mostrador .contenedor-items .item:hover {
	box-shadow: 0 0 10px #666;
	scale: 1.05;
}

#mostrador .contenedor-items {
	transition: .3s;
}

	#mostrador .contenedor-items .item {
		border: 1px solid #09e727;
		border-radius: 10px;
		transition: .3s;
	}
.btn-flotante {
	font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 5px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #E91E63; /* Color de fondo */
	padding: 18px 30px; /* Relleno del boton */
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

	.btn-flotante:hover {
		background-color: #2c2fa5; /* Color de fondo al pasar el cursor */
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
		transform: translateY(-7px);
	}

@media only screen and (max-width: 600px) {
	.btn-flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
} 